# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
crash.log
crash.*.log
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# General
.DS_Store
*.zip

